/.vs/CleanArchitecture/DesignTimeBuild/.dtbcache.v2
/.vs/CleanArchitecture/v17/.futdcache.v1
/.vs/CleanArchitecture/v17/.suo
/CleanArchitecture/bin/Debug/net6.0/appsettings.Development.json
/CleanArchitecture/bin/Debug/net6.0/appsettings.json
/CleanArchitecture/bin/Debug/net6.0/CleanArchitecture.deps.json
/CleanArchitecture/bin/Debug/net6.0/CleanArchitecture.dll
/CleanArchitecture/bin/Debug/net6.0/CleanArchitecture.exe
/CleanArchitecture/bin/Debug/net6.0/CleanArchitecture.pdb
/CleanArchitecture/bin/Debug/net6.0/CleanArchitecture.runtimeconfig.json
/CleanArchitecture/obj/CleanArchitecture.csproj.nuget.dgspec.json
/CleanArchitecture/obj/CleanArchitecture.csproj.nuget.g.props
/CleanArchitecture/obj/CleanArchitecture.csproj.nuget.g.targets
/CleanArchitecture/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/CleanArchitecture/obj/Debug/net6.0/apphost.exe
/CleanArchitecture/obj/Debug/net6.0/CleanArchitecture.AssemblyInfo.cs
/CleanArchitecture/obj/Debug/net6.0/CleanArchitecture.AssemblyInfoInputs.cache
/CleanArchitecture/obj/Debug/net6.0/CleanArchitecture.assets.cache
/CleanArchitecture/obj/Debug/net6.0/CleanArchitecture.csproj.AssemblyReference.cache
/CleanArchitecture/obj/Debug/net6.0/CleanArchitecture.csproj.CoreCompileInputs.cache
/CleanArchitecture/obj/Debug/net6.0/CleanArchitecture.csproj.FileListAbsolute.txt
/CleanArchitecture/obj/Debug/net6.0/CleanArchitecture.dll
/CleanArchitecture/obj/Debug/net6.0/CleanArchitecture.GeneratedMSBuildEditorConfig.editorconfig
/CleanArchitecture/obj/Debug/net6.0/CleanArchitecture.genruntimeconfig.cache
/CleanArchitecture/obj/Debug/net6.0/CleanArchitecture.GlobalUsings.g.cs
/CleanArchitecture/obj/Debug/net6.0/CleanArchitecture.MvcApplicationPartsAssemblyInfo.cache
/CleanArchitecture/obj/Debug/net6.0/CleanArchitecture.pdb
/CleanArchitecture/obj/Debug/net6.0/ref/CleanArchitecture.dll
/CleanArchitecture/obj/Debug/net6.0/refint/CleanArchitecture.dll
/CleanArchitecture/obj/Debug/net6.0/staticwebassets.build.json
/CleanArchitecture/obj/project.assets.json
/CleanArchitecture/obj/project.nuget.cache
